@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {background: #ED0E11;}

.main_wrapper{
	width: 1000px;
	height: auto;
	margin: auto;
}
.header_wrapper{
	width: 1000px;
	height: 199px;
	background: #AFD0CA;
}
#navbar{
	width: 1000px;
	height: 50px;
	background:#94E3A4;
	color:#C4BABA;
}
#menu{
	padding: 0;
	line-height: 36px;
	margin: 5px;
	float: left;
}
#menu li{
	list-style: none;
	display: inline;
}
#menu a{
	color:#FB000F;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;
	padding: 10px;
}
#menu a:hover{
	text-decoration: underline;
	color: #000000;
	font-weight: bolder;
}
#form{
	float: right;
	line-height: 50px;
	padding-right: 5px;
}
.content_wrapper{
	width: 1000px;
	height: 900px;
	background: #3A9633;
}
#right_content{
	width: 800px;
	height: 900px;
	background: #B0595A;
	float:right;
}
#left_sidebar{
	width: 200px;
	height: 900px;
	background: #808733;
	float: left;
}

.footar{
	width: 1000px;
	height: 120px;
	background:#025A04;
	color:#A60D96;
	clear: both;
	text-align: center;
}
#sidebar_title{
	text-align:center;
	background:#FDFDFD;
	color:#DCA2A3;
	padding: 10px;
	font-size: 25px;
	font-family:"palation linotype","book antique",palation,serif;
}
#cats{
	text-align:center;
	padding:10px;
}
#cats li{
	list-style:none;
	margin:8px;
}
#cats a{
	color:#2B349A;
	font-size:20px;
	text-decoration:none;
	margin:5px;
}
#cats a:hover{
	text-decoration: underline;
	color: #000000;
	font-weight: bolder;
}
#footar {
	color:#970609;
	padding-top: 5px;
	text-align:center;
}
#footar li{
	list-style:none;
	margin:2px;
}
#footar a{
	color:#2B349A;
	font-size:20px;
	text-decoration:none;
	margin:2px;
}
#footar a:hover{
	text-decoration: underline;
	color: #000000;
	font-weight: bolder;}

	

#headline{
	background:#427BED;
	color:aqua;
	float: right;
	height: 30px;
	width: 780px;
	padding: 10px;
	
}
#headline_content{
	float: right;
}
#products_box{
	width: 780px;
	padding: 10px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#single_product{
	float: left;
	padding: 10px;
}
#single_product img{
	border: 2px #B59D46 solid;
}